* {
    box-sizing: border-box;
    margin: 0;
    padding: 0 ;
    font-family: "Lucida Console";
}

body {
    font-family: "Lucida Console";
    background-color: rgb(228, 224, 224);
}

.container {
    width: 100vw;

}

/* barra suoperiore  */
header {
    height: 100px;

    background-color: white;
    font-weight: bold;
    margin-bottom: 60px;

}

#title_header {
    display: inline-block;
    font-size: 4rem;
    padding-bottom: 10px;
    vertical-align: bottom;
}

/* logo barra suoperiore */
.img_header {
    height: 85px;
    width: 85px;
    padding: 5px;
}

/* blocco centrale */
.block {
    background-color: white;
    width: 800px;
    height: 800px;
    margin: auto;
}

/* nav blocco centrale */
.nav {
    background-color: white;
    width: 100%;
    height: 65px;
    /* <!-- linea inferiore --> */
    border-bottom: 1px solid lightgray;
    display: flex;
    padding-left: 40px;
    padding-top: 15px;
    margin-bottom: 20px;

}

/* bottom add */
.add {
    background-color: #4ab4ec;
    height: 35px;
    width: 100px;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    font-weight: bold;
    color: white;
    line-height: 0.9rem;
    font-size: 0.9rem;
    margin-inline: 5px;
}

/* id bottom add Section */
#add1 {
    background-color: white;
    border: 1px solid lightgray;
    color: lightgray;
}

.list {
    width: 500px;
    margin-top: 30px;
    margin-left: 45px;
    background-color: white;


}

.title_list {
    color: black;
    display: inline-block;
    font-weight: bold;
    margin-top: 0px;
    font-size: 1.3rem;
    margin-top: 20px;
    margin-bottom: 10px;


}

#freccia {
    font-size: 12px;

}

.item {

    color: black;
    font-size: 1rem;
    margin-top: 7px;
    line-height: 1rem;

    margin-bottom: 13px;

}

#verificato {
    padding-inline-end: 10px;
    display: inline-block;
}

#nonverificato {
    padding-inline-end: 10px;
    display: inline-block;
}

#text {
    display: inline-block;

}

.Buttom {
    display: inline-block;
    background-color: #4ab4ec;
    width: 90px;
    border-radius: 10px;
    padding: 5px;
    text-align: center;
    font-weight: bold;
    color: white;
    line-height: 0.9rem;
    font-size: 0.9rem;
}

#yellow {
    background-color: rgb(180, 216, 52);
}

#orange {
    background-color: orange;
}

#purple {
    background-color: purple;
}


#blue {
    background-color: blue;
}